@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");

.home-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.home-content {
  text-align: left;
  margin: 15vh 0 15vh 15vh;
  width: 50%;

  height: 50%;
  font-family: Helvetica, sans-serif;
}
.home-image {
  margin-top: 15vh;

  width: 50%;

  height: 90%;
}
.home-image img {
  max-width: 100%;
  max-height: 100%;
}

.home-header-text {
  color: #dfe0dc;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
}
.home-header-text span {
  color: #ef5b5b;
}

.home-para-text {
  color: #d1d3c4;
  margin-bottom: 35px;
}

.home-button {
  color: #dfe0dc;
  background-color: transparent;
  border: 1px solid #ef5b5b;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.home-button:hover {
  transition: box-shadow 0.2s;
  box-shadow: #ef5b5b 0 0 0 2px, #d1d3c4 0 0 0 4px;
  color: #dfe0dc;
  background-color: #ef5b5b;
}
