.navbar {
  display: flex;
  width: 95%;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  height: 56px;
  padding: 10px 20px; /* Padding */
}

.navbar-icon {
}

.navbar-icon img {
  object-fit: scale-down;
  padding-top: 50px;
  height: 250px;
}

.navbar-links {
  display: flex;
  height: max-content;
  gap: 50px; /* Space between links */
  height: 100%;
  align-items: center;
}

.navbar-links .button-style {
  background-color: #ef5b5b;
  color: #dfe0dc;
  border-radius: 30px;
  border: 1px solid #8f9092;
  padding: 10px 20px;
  transition: all 0.2s ease;
}
.navbar-links .button-style:hover {
  background-color: #161925;
  color: #ef5b5b;
}

.navbar-links a {
  color: #dfe0dc; /* Text color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s; /* Smooth transition */
}

.navbar-links a:hover {
  color: #ef5b5b; /* Change color on hover */
}
